[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==2.1.7"
djangorestframework = "*"
psycopg2 = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-rest-friendship = "*"
django-friendship = "*"
djangorestframework-filters = "*"
pillow = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}
djangorestframework-jwt = "*"
drf-jwt = "*"
djangorestframework-simplejwt = "*"
redis = "*"
django-multiselectfield = "*"
channels = "==2.3.0"
channels-redis = "==2.4.0"
stream-chat = "*"
django-allauth = "*"
daphne = "==2.3.0"
aioredis = "==1.3.0"
asgiref = "==3.2.2"
configparser = "==3.7.4"
hiredis = "==1.0.0"
async-timeout = "==3.0.1"
phonenumber-field = "*"

[requires]
python_version = "3.7"
